@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  border-radius: 0 !important;
}
h1,
h2,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
.menu {
  opacity: 0;
  width: 0;
  height: 100%;
  color: #000;
  transition: .5s all;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: relative;
  &.-open {
    width: 100%;
    visibility: visible;
    margin-right: 10px;
    display: flex;
    opacity: 1;
  }
  ul {
    height: 100%;
    list-style: none;
    position: absolute;
    right: 0;
    li {
      display: flex;
      align-items: center;
    }
  }
}
.button {
  top: 20px;
  right: 20px;
  box-sizing: border-box;
  height: 36px;
  cursor: pointer;
  z-index: 2;
  svg {
    transition: .2s;
    g {
      &:first-child {
        opacity: 1;
        transition: opacity 0s .2s;
        line {
          transition: transform .2s .2s;
          transform: translateY(0px);
        }
      }
      &:last-child {
        opacity: 0;
        transition: opacity 0s .2s;
        line {
          transition: transform .2s;
          transform: rotate(0deg);
          transform-origin: center;
        }
      }
    }
  }
  &.-menu-open svg {
    g {
      &:first-child {
        opacity: 0;
        line {
          transition: transform .2s;
          &:first-child {
            transform: translateY(7px);
          }
          &:last-child {
            transform: translateY(-7px);
          }
        }
      }
      &:last-child {
        opacity: 1;
        line {
          transition: transform .2s .2s;
          &:first-child {
            transform: rotate(45deg);
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}